.contact {
  padding-right: 142px;
  height: 100vh;
  background: transparent url("../../assets/Background-Contact-Form.jpg") no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;

  .contact-form {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;

    .title {
      font-size: 3.8rem;
      text-align: center;
      line-height: 5.5rem;
      letter-spacing: -0.76px;


      img {
        padding-top: 25px;
        padding-bottom: 70px;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #FFFFFFC9;
    z-index: 0;
  }
}