footer.footer {
  display: flex;
  bottom: 20px;
  z-index: 1;

  .a {
    width: 54%;
  }

  .b {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  small {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  a {
    &:first-of-type {
      padding-right: 20px;
    }
  }
}