strong {
  text-transform: uppercase;
}

p {
  text-align: center;
}

.give-stuff-header {
  background: transparent url('../../assets/Form-Hero-Image.jpg') no-repeat padding-box;
  background-position: -100px -100px;
  text-align: center;

  h2 {
    padding-top: 19px;
    font-size: 4rem;
    line-height: 5.5rem;
    font-weight: 300;
  }

}