strong {
  text-transform: uppercase;

}

p {
  text-align: center;
}

.give-stuff-header {
  background: transparent url('../../assets/Form-Hero-Image.jpg') no-repeat padding-box left / auto 85%;
  text-align: center;
  position: relative;
  top: -200px;
  padding-top: 200px;

  h2 {
    padding-top: 19px;
    font-size: 4rem;
    line-height: 5.5rem;
    font-weight: 300;
  }
.header-steps {
  display: flex;
  margin-top: 50px;

  @include mobile {
    justify-content: center;
    width: 90vw;
  }

  div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 170px;

    @include mobile {
      width: 130px;
      height: 130px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 90%;
      height: 90%;
      border: 0.75px solid #3C3C3C;
      transform: rotate(45deg);

      @include mobile {
        border-color: white;
      }
    }
  }

  h4 {
    font-size: 3.2rem;
    font-weight: 300;
    padding-bottom: 10px;

    @include mobile {
      padding-bottom: 0;
    }

  }
  p {
    font-size: 2.2rem;
    font-weight: lighter;
    width: 90px;
    line-height: 2.7rem;
  }
}
}
@include mobile {
  .give-stuff-header {
    color: white;
  }
}