.container {
  padding-right: 14.2rem;

  ul.login-buttons {
    margin-top: 4.6rem;
    .nav-link {
      font-size: 1.4rem;
      line-height: 1.8rem;
      padding-right: 3rem;
      color: $color-small-text;

      &.sign-up {
        border: 0.75px solid $alt-background-color;
        padding: 0.9rem 1rem;
      }
    }
    .user-name {
      color: $color-font-base;
      text-align: center;
      padding: 9px 10px;
      font-size: 1.4rem;
      border: 1px solid transparent;
    }

  }
}
a {
  &:link {
    text-decoration: none;
    color: $color-font-base;
  }
  &:visited {
    text-decoration: none;
    color: $color-font-base;
  }
}

ul.navbar {
  display: flex;
  justify-content: flex-end;
  padding-top: 1.7rem;

  @include mobile {
    justify-content: flex-start;

    li:not(:first-of-type) {
      display: none;
    }
  }

  li {
    display: flex;
    align-items: center;
    padding-left: 2.9vw;
  }

  .start {
    border: 0.75px solid $color-font-base;
    padding: 0.9rem 2rem;
  }
}

.login-buttons {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  cursor: pointer;
  font-size: 1.8rem;
  line-height: 2.4rem;

  &:link {
    text-decoration: none;
    color: $color-font-base;
  }

  &:visited {
    color: $color-font-base;
  }
}

.sign-out {
  border: 0.75px solid $alt-background-color;
  padding: 0.9rem 1rem;
  font-size: 1.4rem;
  color: $color-small-text;
  cursor: pointer;

  a {
    &:link {
      text-decoration: none;
      color: $color-small-text;
    }

    &:visited {
      text-decoration: none;
      color: $color-small-text;
    }
  }
}


