#pick-up-datas {
  display: flex;
  justify-content: space-between;
  width: 780px;


  @include mobile {
    flex-direction: column;
    width: 100vw;
  }

  div {

    h5 {
      font-size: 2.4rem;
      line-height: 4.5rem;
      font-weight: 600;
    }
  }

  label {
    padding: 0;
    display: flex;
    font-size: 2.4rem;
    line-height: 2.2rem;
    margin-top: 2rem;
    font-weight: 300;
    width: -moz-min-content;
    width: min-content;

    .react-datepicker__input-container {
      position: absolute;
      margin-left: -45px;

      @include mobile {
        margin-left: -36px;
      }
    }

    input {
      width: 256px;
      height: 32px;
      font-size: 2.2rem;
      border: 0.75px solid $color-font-base;
      background-color: transparent;
      opacity: 1;
      margin-left: 132px;

      @include mobile {
        width: 170px;
      }
    }

    textarea {
      background-color: transparent;
      resize: none;
      border: 0.75px solid $color-font-base;
      width: 252px;
      height: 120px;
      position: absolute;
      margin-left: 132px;
    }
  }
}