.select-quo {
  width: 528px;
  z-index: 1;

  .select-title {
    display: flex;
    justify-content: space-between;


    h4 {
      font-weight: 300;
      font-size: 2.4rem;
      line-height: 3.2rem;
    }

    p {
      @extend h4;

      border: 0.75px solid $color-font-base;
      width: 300px;
      display: flex;
      justify-content: space-between;
      padding-left: 18px;
      cursor: pointer;
    }
  }

  .select {

    &.city {
      align-items: flex-start;
      padding-left: 18px;
      background: #E8E9E4;
    }

    span {
      cursor: pointer;
      width: 100%;
      text-align: center;


    }
  }
}