.step1-form {
  background: transparent url('../../assets/Background-Form.jpg') 0 0 no-repeat padding-box;
  height: calc(100vh - 179px);
  padding-left: 142px;
  position: relative;

  @include mobile {
    padding: 30px;
    height: 105vh;
  }

  h3 {
    font-size: 2.4rem;
    line-height: 2.7rem;
    font-weight: 300;
    padding-top: 36px;

    @include mobile {
      padding-top: 0;
    }
  }

  h1 {
    font-size: 3.6rem;
    line-height: 4.5rem;
    font-weight: 600;
    padding-top: 70px;
    padding-bottom: 40px;

    @include mobile {
      padding: 0;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      display: block;
      position: relative;
      cursor: pointer;
      font-size: 2.4rem;
      line-height: 3.2rem;
      font-weight: 300;
      padding-bottom: 49px;
      padding-left: 70px;
      user-select: none;

      @include mobile {
        padding-bottom: 20px;
      }

      input {
        width: 0;
        height: 0;
        opacity: 0;
        cursor: pointer;
        position: absolute;

        &:checked ~ .checkmark {
          background-color: $alt-background-color;

          &::after {
            display: block;
          }
        }
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 40px;
        width: 40px;
        background-color: #eee;
        border: 0.75px solid $color-font-base;

        &::after{
          content: "";
          position: absolute;
          display: none;
          width: 40px;
          height: 40px;
          background-color: $alt-background-color;
        }
      }

      &:hover input ~ .checkmark {
        background-color: #ccc;
      }

    }
  }

  .links-section {
    position: absolute;
    bottom: 50px;

    button {
      font-size: 2.4rem;
      line-height: 3.2rem;
      font-weight: 300;
      padding: 23px;
      background-color: transparent;
      border: 0.75px solid black;
      cursor: pointer;
      margin-right: 50px;
      width: 180px;

      @include mobile {
        padding: 3px;
        &:first-of-type {
          margin-bottom: 10px;
        }
      }
    }

  }
}