.column-wrapper {
  display: flex;
  justify-content: space-around;
  background: transparent url('../../assets/3 Columns Background.png') 0 0 repeat padding-box;


  @include mobile {
    flex-direction: column;
  }

  article {
    padding-top: 47px;
    padding-bottom: 86px;
    text-align: center;

    h2 {
      font-size: 9rem;
      line-height: 12.2rem;
      font-weight: lighter;
    }

    h4 {
      font-size: 1.8rem;
      line-height: 2.4rem;
      text-transform: uppercase;
    }

    p {
      font-size: 1.6rem;
      font-weight: lighter;
      line-height: 1.8rem;
      width: 334px;
      padding-top: 28px;


      @include mobile {
        text-align: center;
        margin: 0 auto;
      }
    }
  }
}